<table class='table table-bordered table-striped table-hover'>
	<thead>
		<th>Name</th>
		<th>Category</th>
		<th></th>
	</thead>
	<tbody>
		<% @created_events.each do |event| %>
			<tr>
				<td><%= link_to "#{event.name}", event_path(event) %></td>
				<td><%= "#{event.category.name}" %></td>
				<td><%= link_to "Show", event_path(event), class: 'btn btn-info' %></td>
			</tr>
		<% end %>
	</tbody>
</table>