<h1>Welcome to Rendezvous</h1>
<p>This project is still in development. <a href="https://github.com/AEgan/Rendezvous">Check it out here</a></p>
<p>Spontaneous event planning.</p>
<% if current_user %>
	Welcome <strong><%= current_user.first_name %>
<% else %>
	<%= link_to 'Sign in with facebook', "/auth/facebook", id: "sign_in" %>
<% end %>
